{% extends 'base.html.twig' %}

{% block body %}
    <h1>Moralcustomers list</h1>

    <table>
        <thead>
            <tr>
                <th>Socialreason</th>
                <th>Managername</th>
                <th>Website</th>
                <th>Id</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Archived</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for moralCustomer in moralCustomers %}
            <tr>
                <td><a href="{{ path('customer_show', { 'id': moralCustomer.id }) }}">{{ moralCustomer.socialReason }}</a></td>
                <td>{{ moralCustomer.managerName }}</td>
                <td>{{ moralCustomer.webSite }}</td>
                <td>{{ moralCustomer.id }}</td>
                <td>{{ moralCustomer.phone }}</td>
                <td>{{ moralCustomer.email }}</td>
                <td>{% if moralCustomer.archived %}Yes{% else %}No{% endif %}</td>
                <td>{% if moralCustomer.createdAt %}{{ moralCustomer.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if moralCustomer.updatedAt %}{{ moralCustomer.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('customer_show', { 'id': moralCustomer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('customer_edit', { 'id': moralCustomer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('customer_new') }}">Create a new moralCustomer</a>
        </li>
    </ul>
{% endblock %}
