{% extends 'layout.html.twig' %}

{% block pluginsCss %}
    {{ parent() }}
    <link href="{{ asset('vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
        <div class="alert alert-danger" >
            <ul>
                {% for child in form.children %}
                    {%for error in child.vars.errors%}
                        <li><b>{{ child.vars.label|trans }}</b>: {{error.message}}</li>
                    {%endfor%}
                {%endfor%}
            </ul>
        </div>
{% endblock %}

{% block pluginsJS %}
    {{ parent() }}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="{{ asset('vendors/bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js') }}"></script>
{% endblock %}

