{% extends '::form.html.twig' %}

 {% if form.vars.value.id is null %}
     {% set title = 'Nouveau contrat de location' %}
 {% else %}
     {% set title = 'Modification : '~ form.vars.value %}
 {% endif %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    {{ title }}
{% endblock %}
{% form_theme form _self %}

{% block _contract_fuelLevel_widget %}
    <div class="name_row">
        {{ form_widget(form) }}
        {% for i in 0..4 %}
            <a href="#"><i class="contract_fuelLevel_icon fa fa-2x fa-battery-{{ i }} {{ (form.vars.value == i) ? 'text-success' : 'text-muted' }}"
                  data-value="{{ i }}"></i></a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
{{ form_start(form, {'attr': {'id': 'form_contract_edit'}}) }}
    {{ form_widget(form._token) }}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <legend>Client & Conducteur(s)</legend>
                        <div class="row">
                            <div class="col-lg-6">{{ form_row(form.customer) }}</div>
                            <div class="col-lg-6">{{ form_row(form.drivers) }}</div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <legend>Voiture</legend>
                        <div class="row">
                            <div class="col-lg-6">{{ form_row(form.car) }}</div>
                            <div class="col-lg-6">{{ form_row(form.priceDay) }}</div>
                            <div class="col-lg-6">{{ form_row(form.startKms) }}</div>
                            <div class="col-lg-6">{{ form_row(form.fuelLevel) }}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Durée</legend>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group {% if not form.startDate.vars.valid %} has-error {% endif %}">
                                    {{ form_label(form.startDate) }}
                                    <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                        {{ form_widget(form.startDate) }}
                                    </div>{{ form_errors(form.startDate) }}
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group {% if not form.endDate.vars.valid %} has-error {% endif %}">
                                    {{ form_label(form.endDate) }}
                                    <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                        {{ form_widget(form.endDate) }}
                                    </div>{{ form_errors(form.endDate) }}
                                </div>
                            </div>
                            <div class="col-lg-2">{{ form_row(form.numberDays) }}</div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="panel-footer">
                <button type="reset" class="btn btn-danger"><i
                            class="fa fa-times"></i> {{ 'btn.cancel_post'|trans }}</button>
                <button type="submit" class="btn btn-success pull-right"><i
                            class="fa fa-save"></i> {{ 'btn.save'|trans }}</button>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/app/js/contract/edit.js') }}"></script>
    {% endblock %}
