{% extends '::form.html.twig' %}

{% block content %}
{{ form_start(form, {'attr': {'id': 'form_contract_edit'}}) }}
    {{ form_widget(form._token) }}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Information générale
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">{{ form_row(form.car) }}</div>
                        <div class="col-lg-3">{{ form_row(form.priceDay) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">{{ form_row(form.startKms) }}</div>
                        <div class="col-lg-3">{{ form_row(form.fuelLevel) }}</div>

                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group {% if not form.startDate.vars.valid %} has-error {% endif %}">
                                {{ form_label(form.startDate) }}
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    {{ form_widget(form.startDate) }}
                                </div>{{ form_errors(form.startDate) }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group {% if not form.endDate.vars.valid %} has-error {% endif %}">
                                {{ form_label(form.endDate) }}
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    {{ form_widget(form.endDate) }}
                                </div>{{ form_errors(form.endDate) }}
                            </div>
                        </div>
                        <div class="col-lg-3">{{ form_row(form.numberDays,{ 'attr':{'disabled':'disabled'} }) }}</div>
                    </div>
                    <div class="row">
                    	<div class="col-lg-3">{{ form_row(form.customer) }}</div>
                        <div class="col-lg-3">{{ form_row(form.drivers) }}</div>
                    </div>
                </div>

                <div class="panel-footer">
                    <button type="reset" class="btn btn-danger"><i
                                class="fa fa-times"></i> {{ 'btn.cancel_post'|trans }}</button>
                    <button type="submit" class="btn btn-success pull-right"><i
                                class="fa fa-save"></i> {{ 'btn.save'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
  $(function () {

    $("#contract_endDate").on("dp.change", function(e) {
        var form = $('#form_contract_edit'),
        endDate = form.find('#contract_endDate'),
        startDate = form.find('#contract_startDate');
        startDate = startDate.val();
        endDate = endDate.val();

        startDate = startDate.split('/');
        endDate = endDate.split('/');
        var startDate = startDate[1]+'/'+startDate[0]+'/'+startDate[2];
        var endDate = endDate[1]+'/'+endDate[0]+'/'+endDate[2];
        var startDate = new Date(startDate);
        var endDate = new Date(endDate);
        $('#contract_startDate').data("DateTimePicker").maxDate(e.date);
         diffDate(startDate,endDate);
    });

    $("#contract_startDate").on("dp.change", function(e) {
       var form = $('#form_contract_edit'),
        endDate = form.find('#contract_endDate'),
        startDate = form.find('#contract_startDate');
        startDate = startDate.val();
        endDate = endDate.val();

        startDate = startDate.split('/');
        endDate = endDate.split('/');
        var startDate = startDate[1]+'/'+startDate[0]+'/'+startDate[2];
        var endDate = endDate[1]+'/'+endDate[0]+'/'+endDate[2];
        var startDate = new Date(startDate);
        var endDate = new Date(endDate);

        $('#contract_endDate').data("DateTimePicker").minDate(e.date);
        diffDate(startDate,endDate);
    });

    $('select[data-select="true"]').select2({});
    $('select[data-select-multiple="true"]').select2({multiple: true,});

    function ajaxPost(fk_id) {
        $.ajax({ 
          type: "POST", 
          data: {id : fk_id},
          url: '{{ path('car_ajax') }}', 
          success: function(data){ 
            $('#contract_startKms').val (data.current_km);
            $('#contract_priceDay').val (data.price_day);
          },
          error:function(){
              
          }
        });
        return false;
      }

    $( "#contract_car" ).change(function() {
       ajaxPost($( "#contract_car" ).val());
    });

    function diffDate(startDate,EndDate){
        var timeDiff = Math.abs(startDate.getTime() - EndDate.getTime());
        var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
        $('#contract_numberDays').val(diffDays);
    }
    
  });
</script>
{% endblock %}
