{% extends '::form.html.twig' %}
{% form_theme form _self %}


{% block _customer_phones_entry_row %}
    <div class="fieldRow">
        <div class="col-lg-10">
            <div class="form-group {% if not form.vars.valid %} has-error {% endif %}" >
            {{ form_widget(form.phone) }}
            {{ form_errors(form.phone) }}
            </div>
        </div>
        <div class="col-lg-2">
            {% if not form.vars.value %}
                <a href="#" class="btn btn-danger pull-right btnDelete"><i class="fa fa-trash"></i></a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block _customer_emails_entry_row %}
    <div class="fieldRow">
        <div class="col-lg-10">
            <div class="form-group input-group {% if not form.vars.valid %} has-error {% endif %}">
                <span class="input-group-addon">@</span>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="col-lg-2">
            {% if not form.vars.value %}
                <a href="#" class="btn btn-danger pull-right btnDelete"><i class="fa fa-trash"></i></a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block _customer_documents_entry_row %}
    <div class="col-md-3 block_document">
        {{ form_widget(form.documentType) }}
        {{ form_row(form.file.file) }}

        {% if form.vars.value and form.vars.value.file %}
            {% set object = form.vars.value.file %}
            <object width="100%" data="{{ asset(object.fullPath) }}" type="{{ object.mimeType }}"></object>
        {% endif %}

    </div>
{% endblock %}

 {% if form.vars.value.id is null %}
     {% set title = 'Ajouter un nouveau client' %}
 {% else %}
     {% set title = 'Modification du client : '~ form.vars.value %}
 {% endif %}

{% block title %} {{ title }} {% endblock %}

{% block header %} {{ title }} {% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form._token) }}
    <div class="row">
        <fieldset class="well">
            <div class="row">
                <div class="col-lg-3">{{ form_row(form.nationality) }}</div>
                <div class="col-lg-3">{{ form_row(form.gender) }}</div>
                <div class="col-lg-3">{{ form_row(form.firstName) }}</div>
                <div class="col-lg-3">{{ form_row(form.lastName) }}</div>
            </div>
            <div class="row">
                <div class="col-lg-3">{{ form_row(form.identityDocumentType) }}</div>
                <div class="col-lg-3">{{ form_row(form.identityNumber) }}</div>
                <div class="col-lg-3">{{ form_row(form.drivingLicenceNumber) }}</div>
                <div class="col-lg-3">{{ form_row(form.birthDate) }}</div>
            </div> <fieldset>
                <legend>Contact & Adresse</legend>
            <div class="row">
                <div class="col-lg-4">
                    {{ form_row(form.phones) }}
                    <div class="col-lg-12">
                        <a href="#" id="add_phone" class="btn btn-success btn-xs">
                            <i class="fa fa-plus"></i> Ajouter </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    {{ form_row(form.emails) }}
                    <div class="col-lg-12">
                        <a href="#" id="add_email" class="btn btn-success btn-xs">
                            <i class="fa fa-plus"></i> Ajouter </a>
                    </div>
                </div>
                <div class="col-lg-4">{{ form_row(form.address) }}</div>
            </div>
        </fieldset>
            <fieldset>
                <legend>Pièce d'identité</legend>
                {{ form_widget(form.documents) }}
                {{ form_errors(form.documents) }}
            </fieldset>
            <hr>
            <button type="reset" class="btn btn-danger"><i
                        class="fa fa-times"></i> {{ 'btn.cancel_post'|trans }}</button>
            <button type="submit" class="btn btn-success pull-right"><i
                        class="fa fa-save"></i> {{ 'btn.save'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('vendor/intl-tel-input/build/css/intlTelInput.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/intl-tel-input/build/js/intlTelInput.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/customer/edit.js') }}"></script>
{% endblock %}
