{% extends 'form.html.twig' %}
{% block pluginsCss %}
    {{ parent() }}
    <link href="{{ asset('vendors/intlTelInput/css/intlTelInput.css') }}" rel="stylesheet">
{% endblock %}
    {% form_theme form _self %}
    {% block _customer_phones_entry_row %}
            <div class="form-group">
                <div class="col-sm-3">{{ form_widget(form.type) }}</div>
                <div class="col-sm-6">{{ form_widget(form.phone, { 'attr': {'class': 'form-control' }}) }}</div>
                <div class="col-sm-3">{{ form_widget(form.main) }}{{ form_label(form.main) }}</div>
            </div>
        <span class="help-block">{{ form_errors(form.phone) }}</span>
    {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Nouveau client</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    {#<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">#}
                    {{ form_start(form) }}
                    {{ form_widget(form._token) }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.lastName) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.lastName) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.firstName) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.firstName) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.gender) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.gender) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.birthDate) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.birthDate) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col-md-6">
                            <div class="form-group">
                                <fieldset>
                                    <legend>{{ form_label(form.phones) }}</legend>
                                    <div class="col-md-12">
                                        {{ form_widget(form.phones) }}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <fieldset>
                                    <legend>Adresses mail</legend>
                                    <div class="col-md-12">
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>


                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">{{ 'btn.save'|trans }}</button>
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block pluginsJS %}
    {{ parent() }}
    <script src="{{ asset('vendors/intlTelInput/js/intlTelInput.min.js') }}"></script>
{% endblock %}

{% block customJS %}
    {{ parent() }}
    <script src="{{ asset('bundles/customer/js/edit.js') }}"></script>
{% endblock %}
