{% extends "datatable.html.twig" %}

{% block content %}
    <div class="row">
        <table class="table table-striped table-bordered table-hover datatable">
            <thead>
            <tr class="headings">
                <th>typeMaintenance</th>
                <th>car</th>
                <th>amount</th>
                <th>date</th>
                <th>comment</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for c in carMaintenances %}
                <tr>
                    <td>{{ c.typeMaintenance.label }}</td>
                    <td>{{ c.car.model.label }}</td>
                    <td>{{ c.amount }}</td>
                    <td>{{ c.date|date('d/m/Y  H:i') }}</td>
                    <td>{{ c.comment }}</td>
                    <td>
                        <a class="btn btn-warning btn-xs" href=""><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
