{% extends "layout.html.twig" %}
{% block title %}{{ 'customer.customers_list'|trans }}{% endblock %}
{% block header %}{{ 'customer.customers_list'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="headings">
                    <th>{{ 'customer.full_name'|trans }}</th>
                    <th>Carte d'identité</th>
                    <th>{{ 'customer.email'|trans }}</th>
                    <th>{{ 'customer.phone'|trans }}</th>
                    <th>{{ 'app.action'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% if customers is not empty %}
                    {% for c in customers %}
                        <tr>
                            <td>{{ c.fullName }}</td>
                            <td>
                                {{ c.identityDocumentType }}
                                {{ c.identityNumber }}
                            </td>
                            <td>{{ c.mainEmail }}</td>
                            <td>{% if c.mainPhone is not empty %} <a href="tel:{{ c.mainPhone|phone_number_format('INTERNATIONAL') }}" >{{ c.mainPhone|phone_number_format('INTERNATIONAL') }}</a> {% endif %}</td>
                            <td>
                                <a class="btn btn-warning btn-xs" href="{{ path('entity_edit', {'entity': c.slug, 'id': c.id}) }}" ><i class="fa fa-edit" ></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="msg" colspan="8">
                            {{ 'msg.no_data'|trans|format('customer.label'|trans) }}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}





