{% extends "layout.html.twig" %}
{% block title %}{{ 'customer.customers_list'|trans }}{% endblock %}
{% block header %}{{ 'customer.customers_list'|trans }}{% endblock %}

{% block content %}
    <div class="row">
            <table class="table table-striped table-bordered table-hover datatable">
                <thead>
                <tr class="headings">
                    <th>{{ 'customer.full_name'|trans }}</th>
                    <th>Carte d'identité</th>
                    <th>{{ 'customer.email'|trans }}</th>
                    <th>{{ 'customer.phone'|trans }}</th>
                    <th>{{ 'app.action'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for c in customers %}
                    <tr>
                        <td>{{ c.fullName }}</td>
                        <td>
                            {{ c.identityDocumentType }}
                            {{ c.identityNumber }}
                        </td>
                        <td>{{ c.mainEmail }}</td>
                        <td>{% if c.mainPhone is not empty %} <a
                                    href="tel:{{ c.mainPhone|phone_number_format('INTERNATIONAL') }}">{{ c.mainPhone|phone_number_format('INTERNATIONAL') }}</a> {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-warning btn-xs"
                               href="{{ path('entity_edit', {'entity': c.slug, 'id': c.id}) }}"><i
                                        class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>

{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('vendor/datatables/media/css/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('vendor/datatables-responsive/css/dataTables.responsive.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/media/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables-responsive/js/dataTables.responsive.js') }}"></script>

    <script>
        $('.datatable').DataTable({
            responsive: true,
        });
    </script>
{% endblock %}





