{% extends '::form.html.twig' %}
    {% form_theme form _self %}
    {% block _customer_phones_entry_row %}
        <div class="form-group {% if not form.vars.valid %} has-error {% endif %}">
            <div class="customer-phone-block">
                {{ form_widget(form.phone) }}
                {{ form_errors(form.phone) }}
            </div>
        </div>
    {% endblock %}


{% block _customer_emails_entry_row %}
    <div class="form-group input-group {% if not form.vars.valid %} has-error {% endif %}">
        <span class="input-group-addon">@</span>
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>
{% endblock %}

{% block header %}
    {% if form.vars.value.id is null %}
        Ajouter un nouveau client
    {% else %}
        Modification du client: {{ form.vars.value }}
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form._token) }}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Information générale
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form_row(form.gender) }}
                            {{ form_row(form.firstName) }}
                            {{ form_row(form.lastName) }}
                            {{ form_row(form.birthDate) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.phones) }}
                            {{ form_row(form.emails) }}
                            {{ form_row(form.address) }}
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <button type="reset" class="btn btn-danger"><i
                                class="fa fa-times"></i> {{ 'btn.cancel_post'|trans }}</button>
                    <button type="submit" class="btn btn-success pull-right"><i
                                class="fa fa-save"></i> {{ 'btn.save'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}


{% block pluginsJS %}
    {{ parent() }}
    <script src="{{ asset('vendors/intlTelInput/js/intlTelInput.min.js') }}"></script>
{% endblock %}

{% block customJS %}
    {{ parent() }}
    <script src="{{ asset('bundles/customer/js/edit.js') }}"></script>
{% endblock %}
