{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Slcars list</h1>

    <table>
        <thead>
            <tr>
                <th>Carnumber</th>
                <th>Originalpriceday</th>
                <th>Id</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slCar in slCars %}
            <tr>
                <td><a href="{{ path('slcar_show', { 'id': slCar.id }) }}">{{ slCar.carNumber }}</a></td>
                <td>{{ slCar.originalPriceDay }}</td>
                <td>{{ slCar.id }}</td>
                <td>{% if slCar.createdAt %}{{ slCar.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if slCar.updatedAt %}{{ slCar.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('slcar_show', { 'id': slCar.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('slcar_edit', { 'id': slCar.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('slcar_new') }}">Create a new slCar</a>
        </li>
    </ul>
{% endblock %}
