{% extends "layout.html.twig" %}
{% block title %}{{ 'car.cars_list'|trans }}{% endblock %}



 {% block breadcrumb %}
     <li><a href="{{ path('app_dashboard') }}">{{ 'app.dashboard'|trans }}</a></li><li class="active">{{ 'car.cars_list'|trans }}</li>
 {% endblock %}

{% block content %}


    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-list" aria-hidden="true"></i> {{ 'car.cars_list'|trans }}</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <form method="get">
                        <div style="max-width: 250px;" class="input-group">
                            <input value="{{ app.request.query.get('key',null) }}" name="key" type="text" class="form-control" placeholder="{{ 'app.search'|trans }}">
                            <span class="input-group-btn">
                      <button title="{{ 'app.search'|trans }}" class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                        </div>
                    </form>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="headings">
                        <th>{{ 'car.brand'|trans }}</th>
                        <th>{{ 'car.model'|trans }}</th>
                        <th>{{ 'car.car_number'|trans }}</th>
                        <th>{{ 'car.car_number_ww'|trans }}</th>
                        <th>{{ 'car.fuel_type'|trans }}</th>
                        <th>{{ 'car.price_day'|trans }}</th>
                        <th>{{ 'car.current_km'|trans }}</th>
                        <th>{{ 'app.action'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if pagination is not empty %}
                        {% for c in pagination %}
                            <tr>
                                <td>{{ c.model.brand.label}}</td>
                                <td>{{ c.model.label }}</td>
                                <td>{{ c.carNumber }}</td>
                                <td>{{ c.carNumberWW }}</td>
                                <td>{{ c.fuelType.label|trans }}</td>
                                <td>{{ c.priceDay }}</td>
                                <td>{{ c.currentKm }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td class="msg" colspan="8">
                                {{ 'msg.no_data'|trans|format('car.label'|trans) }}
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>{{ "app.list_info"|trans|format(pagination.paginationData.firstItemNumber, pagination.paginationData.lastItemNumber, pagination.paginationData.totalCount) }}</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div style="margin-top: -25px;" class="pull-right" >
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customJS %}
{% endblock %}




